{% extends 'base.html.twig' %}

{% block title %}Athlete index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Liste des Athlete</span>
                    <a class="btn green" href="{{ path('athlete_new') }}"><i class="material-icons">add</i></a>
                    <table class="striped responsive-table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Sexe</th>
                            <th>Date_naissance</th>
                            <th>Lieu_naissance</th>
                            <th>Taille</th>
                            <th>Poids</th>
                            <th>Ecole</th>
                            <th>Filiere</th>
                            <th>Specialite</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for athlete in athletes %}
                            <tr>
                                <td>{{ athlete.id }}</td>
                                <td>{{ athlete.nom }}</td>
                                <td>{{ athlete.prenom }}</td>
                                <td>{{ athlete.sexe.nom }}</td>
                                <td>{{ athlete.dateNaissance ? athlete.dateNaissance|date('Y-m-d') : '' }}</td>
                                <td>{{ athlete.lieuNaissance }}</td>
                                <td>{{ athlete.taille }}</td>
                                <td>{{ athlete.poids }}</td>
                                <td>{{ athlete.ecole.nom }}</td>
                                <td>{{ athlete.filiere }}</td>
                                <td>{{ athlete.specialite }}</td>
                                <td>
                                    <a class="btn green" href="{{ path('athlete_show', {'id': athlete.id}) }}"><i class="material-icons">visibility</i></a>
                                    <a class="btn yellow" href="{{ path('athlete_edit', {'id': athlete.id}) }}"><i class="material-icons">mode_edit</i></a>
                                    {{ include('athlete/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
